div#modal-content{
  /* border-radius: 25px; */
  background-color: lightblue;
  height: 50%;
  width: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  display: grid;
    place-items: center;
    height: 100vh;
    color: var(--text2);
    background: linear-gradient(to bottom,
        white,
        rgba(18, 128, 192, 0.7),
        rgba(0, 0, 0, 0.8));
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  padding: 10px;
}

input{
  margin: 10px;
}
