div#modal-content{
  background-color: lightblue;
  height: 50%;
  width: 50%;
  flex-direction: column;
  display: flex;
  place-items: center;
  height: 70vh;
  color: var(--text2);
  /* background: linear-gradient(to bottom,
        rgb(148, 23, 197),
        rgba(253, 117, 71, 0.85),
        rgba(0, 0, 0, 0.99)); */
  border-radius: 25px;
  padding-bottom: 5%;
  background-image: url("image.png");
  background-position: center;
  background-size: cover;
}

div.login_logo{
  display: flex;
  flex-direction: row;
}

.login_pixel{
  font-size: 5.5em;
  font-weight: bold;
}
.login_gram {
  font-size: 5.5em;
  font-weight: bold;
}
.login{
  margin-top: 50%;
  color: black;
}

form.login-form{
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  color: black;
  font-weight: 700;
}
.error-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.err-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

label{
  padding: 10px;
}

input{
  margin: 10px;
}
.update-comment-section{
  display: flex;
  justify-content: center;
}
