.edit-photo-form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}
.update-button-container{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
