/* TODO Add site wide styles */
div{
  color:white
}
body{
  background-color: black;
}

button {
  background-color: rgb(48, 167, 207);
  text-transform: capitalize;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
