/* TODO Add site wide styles */
div{
  color:white
}
body{
  background-color: black;
  /* background-color: gray; */
}

button {
  background-color: rgb(48, 167, 207);
  text-transform: capitalize;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.whole-page-container{
  display: flex;
  flex-direction: column
}

a{
  /* color:white; */
  text-decoration: none;
}

i{
  padding-right: 8px
}
