/* TODO Add site wide styles */
div{
  color:white
}
body{
  background-color: black;
  /* background-color: gray; */
}

button {
  background-color: rgb(48, 167, 207);
  text-transform: capitalize;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.modal-divs:hover{
  cursor: pointer;
}
.logo{
  width: 650px;
  height: 200px;
}

a{
  /* color:white; */
  text-decoration: none;
}

i{
  padding-right: 8px;
  /* padding-left: 8px */
}

img.profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
button.profile-button-container{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
