.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation-side-panel h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navigation-side-panel{
  /* position: absolute; */
  box-sizing: border-box;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5%;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid lightgray;
}

.navigation-side-panel div{
  /* position: absolute; */
  width: 100%;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-side-panel div:hover{
  background-color: rgb(29, 28, 28);
  border-radius: 25px;
}
