.profile-dropdown {
  position: absolute;
  
}

.hidden {
  display: none;
}

.navigation-side-panel h1 {
  display: block;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.navigation-side-panel{
  /* position: absolute; */
  box-sizing: border-box;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3%;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid lightgray;
}

.navigation-side-panel div{
  /* position: absolute; */
  width: 85%;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigation-side-panel div:hover{
  background-color: rgb(29, 28, 28);
  border-radius: 25px;
}

span.profile-section-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button.profile-section-clicked{
  width: 80px;
}
