.homepage-container{
  position: absolute;
  margin-left: 30%;
  width: 45%;
  height: auto;
  color: white;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.post-button-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-button{
  position: sticky;
}

.user-profile-container{
  /* width: 400px; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.photo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 400px;
  border-radius: 5px; */
}

.photo-container{
  width: 400px;
  border-radius: 5px;
}
.photo-img-box{
  display: flex;
  width: 100%;
  /* align-items: center */
}
.photo-img-box>img{
  max-width: 400px;
  max-height: 400px;
}

a.photo-link{
  /* height: 500px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  border-radius: 5px;
  /* border: 1px rgb(36, 36, 36) solid; */
}

.each-photo{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  border-bottom: 2px rgb(36, 36, 36) solid;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.photo-detail{
  width: 500px;
  /* margin-right:0px */
}
.profile-pic-username-container{
  width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.profile-picture{
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.photo-user-profile{
  padding-left: 5px;
}
div.photo-user-profile{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.photo-like-comment-section{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

div.photo-caption{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.photodetail-container{
  /* box-sizing: border-box; */
  position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 500px;
  height: auto;
  color: white;
  border: 1px rgb(36, 36, 36) solid;
  border-radius: 5px;
}

.detailphoto-img-box{
  /* margin-right: 0px; */
  width: 500px;
  height: auto;
}
.img-itself{
  width: 500px;
  height: auto;
}

.profile-picture{
  width: 30px;
  height: 30px;
  border-radius: 55%;
}
.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 55%;
}

.each-comment {
  display: flex;
  align-items: center;
  padding-top:10px;
  padding-bottom:10px;
  width: 100%;
}
.each-comment-profile-pic{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.each-comment-username{
  padding-left: 5px;
  padding-right: 10px;
}
.each-comment-button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.each-comment-buttons{
  display: flex;
  /* width: 60%; */
}
.add-comment-form{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-comment-bar-container{
  width: 90%;
}
input.input-comment-bar{
  width: 90%;
}
