.homepage-container{
  position: absolute;
  margin-left: 30%;
  width: 45%;
  height: auto;
  color: white;
  margin-right: 0px;
}

.post-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-container{
  /* padding-top: 1%; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.photo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.photo-container img{
  width: 400px;
  border-radius: 5px;
}

.each-photo{
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  /* border: 1px white solid; */
}

div.photo-user-profile{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.photo-like-comment-section{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.photo-caption{
  display: flex;
  justify-content: flex-start;
}
