.homepage-container{
  margin-left: 25%;
  width: 50%;
  height: auto;
  color: white;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
}

.post-button-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-button{
  position: sticky;
}

.user-profile-container{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;;
  /* width: 400px; */
}

.photo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 400px;
  border-radius: 5px; */
}

.photo-container{
  width: 400px;
  border-radius: 5px;
}
.photo-img-box{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 0;
}
.photo-img-box img{
  width: 100%;
  height: auto;
  z-index: 1;
  /* max-width: 400px;
  max-height: 400px; */
}
.photo-btn{
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: transparent;
  display: none;
  cursor: pointer;
  z-index: 2;
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  box-shadow: 3px 3px red, -.5em -.5em .4em aqua;
  border-radius: 5px;
}
/* .photo-img-box:hover .photo-btn{
  display: block;
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  cursor: pointer;
} */
.photo-img-box:hover{
  box-shadow: 3px 3px red, -.5em -.5em .4em aqua;
  border-radius: 5px;
}

a.photo-link{
  border-radius: 5px;
  /* height: 500px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  /* border: 1px rgb(36, 36, 36) solid; */
}

.each-photo{
  width: 468px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px rgb(70, 70, 70) solid;
  /* border-radius: 5px; */
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.photo-detail{
  width: 500px;
  margin-bottom:30px
}

.number-likes-section{
  /* margin-top: 5px; */
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.follow-btn{
  display: flex;
  margin-left: 10px;
  padding: 3px;
}
.follow-btn:hover{
  cursor: pointer;
  background-color: rgb(48, 167, 207);
  border: 1px solid lightgray;
  border-radius: 3px;
}

.photo-like-section{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.profile-pic-username-container{
  width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 10px;
}
.profile-picture{
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.photo-user-profile{
  padding-left: 5px;
  font-weight: 700;
  /* font-family: 'Roboto', sans-serif; */
}
div.photo-user-profile{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.photo-like-comment-section{
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 10px;
}

div.photo-caption{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photodetail-container{
  position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 500px;
  height: auto;
  color: white;
  border-radius: 5px;
  /* border: 1px rgb(36, 36, 36) solid; */
}
.heart-follow-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.explore-page-container{
  position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 500px;
  height: auto;
  color: white;
  border-radius: 5px;
}

.detailphoto-img-box{
  width: 500px;
  height: auto;
  /* margin-right: 0px; */
}
.img-itself{
  width: 500px;
  height: auto;
}

.profile-picture{
  width: 30px;
  height: 30px;
  border-radius: 55%;
}
.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 55%;
  padding-right: 5px;
}

.each-comment {
  display: flex;
  align-items: center;
  padding-top:10px;
  padding-bottom:10px;
  width: 100%;
}
.each-comment-profile-pic{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.each-comment-username{
  padding-left: 5px;
  padding-right: 10px;
}
.each-comment-comment{
  color: darkgray;
}
.each-comment-button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.each-comment-buttons{
  display: flex;
  /* width: 60%; */
}
.add-comment-form{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.input-comment-bar-container{
  width: 90%;
}
input.input-comment-bar{
  width: 90%;
  height: 40px;
  margin-left: 0px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.inside-comment{
  padding-left:10px;
  font-weight: lighter;
  color: darkgray;
}
.pic-and-username{
  padding-left: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
div.photo-caption-container{
  width: 100%;
  margin-bottom: 25px;
}

img.photo-itself{
  border-radius: 5px;
  width: 468px;
}

.like-icon{
  margin-bottom: 10px;
}
.liked-icon {
  margin-bottom: 10px;
  color: red;
}

.like-icon:hover {
  cursor: pointer;
}
.liked-icon:hover {
  cursor: pointer;
}

.following{
  color: gray;
}
.following:hover {
  color: white;
  /* border: none; */
}

.not-follow{
  color: rgb(50, 147, 242);
}
.not-follow:hover{
  color: white
}
